.header{
  background-color: #fff;
}
.navDark{
  background-color: rgb(0, 12, 37);
  color: #fff;
}

.theme_wrapp{
  cursor: pointer;
}
.theme_name{
  font-weight: 600;
font-size: 16px;
line-height: 22px;
}
.theme_icon_moon{
  transform: rotate(-20deg);
}